* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.614), rgba(0, 0, 0, 0.762)),
    url("../assets/images/photo_1_2025-05-09_15-38-16.jpg");
  box-sizing: border-box;
  background-size: 100% 100%;
  padding-top: 30px;
}
.signup-form {
  margin: auto;
  backdrop-filter: blur(40px);
  /* margin-top: 70px; */
  max-width: 420px;
  width: 100%;
  padding: 40px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.39);
  animation: fadeIn 1.5s ease-out;
}

.form-heading {
  text-align: center;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: #bf6a08dd 2px -1px 1px;
}

.input-group {
  position: relative;
  margin-top: 30px;
}

.input-group label {
  position: absolute;
  top: -16px;
  left: 12px;
  bottom: 9px;
  font-size: 15px;
  color: #b06816;
  font-weight: 600;
  line-height: 2px;
  text-shadow: rgba(0, 0, 0, 0.742) 2px -1px 1px;
}

.input-group input,
select,
textarea {
  width: 100%;
  padding: 4px 20px;
  font-size: 1rem;
  color: #333;
  background-color: #f5f5f5;
  border: 2px solid #ddd;
  border-radius: 10px;
  outline: none;
  transition: all 0.3s ease;
}

.input-group input:focus {
  border-color: #bf6a08;
  box-shadow: 0 0 10px rgba(208, 113, 12, 0.497);
}

.input-group select:focus {
  border-color: #bf6a08;
  box-shadow: 0 0 10px rgba(208, 113, 12, 0.497);
}

.input-group textarea:focus {
  border-color: #bf6a08;
  box-shadow: 0 0 10px rgba(208, 113, 12, 0.497);
}

.submit {
  width: 100%;
  padding: 15px;
  background-color: #bf6a08c7;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit:hover {
  background-color: #bf6a08;
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(234, 128, 7, 0.3);
}
textarea {
  overflow: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
